{% extends 'base.html' %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to GT Movies Store</h1>
        <p class="fs-4">Your one-stop shop for purchasing the latest and greatest films. This application allows you to browse and purchase movies, read and write reviews, and manage your purchases seamlessly.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'movie_list' %}" role="button">Browse Movies</a>
    </div>
</div>
{% endblock %}